<div class="row">
    <div class="wrapper">
        <div class="col-md-3 b-r b-t">
            <div class="input-group padder">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" placeholder="search" ng-model="query">
            </div>
            <div class="list-group padder">
                <a ng-repeat="n in notes" class="list-group-item b-l-{{n.color}}" ng-class="n._id.$oid == selected._id.$oid ? 'hover': ''" ng-click="selectNote(n)">
                    {{getTitle(n)}}
                    <br>
                    <i ng-show="isDirty(n)" class="glyphicon glyphicon-save pull-right m-r-sm"></i>
                    <span class="text-muted text-sm">{{ n.date.$date | date:'MMM-dd-yyyy H:mm'}}</span>
                </a>
            </div>
        </div>

        <div class="col-md-9 b-t">
            <div class="b-b padder">
                <span>{{ selected.date.$date | date:'MMM-dd-yyyy H:mm' }}</span>
                <div class="pull-right">
                    <a href="#" class="pull-right btn btn-sm btn-danger m-l-sm" ng-click="deleteNote()">Delete</a>
                    <a href="#" class="pull-right btn btn-sm btn-info m-l-sm" ng-show="!isAnyDirty()" ng-click="createNote()">New</a>
                    <a href="#" class="pull-right btn btn-sm btn-warning m-l-sm" ng-show="isDirty(selected)" ng-click="updateNote()">Save</a>
                </div>
            </div>

            <textarea ng-disabled="selected ? false : true" class="padder no-radius no-borders no-border no-bg text-md" ng-model="selected.content" ng-change="setDirty()" style="width:100%; height: 100%"></textarea>
        </div>
    </div>
</div>