<div class="container-fluid" style="height:100%;"> 
    <div class="row">
        <div class="col-md-3">
            <div class="wrapper">
                <a href class="pull-right btn btn-sm btn-info" ng-click="createNote()">New</a>
                <i ng-show="isLoading" class="glyphicon glyphicon-refresh gly-spin pull-right m-r-sm"></i>
                <div class="h4">Notes</div>
            </div>
            <div class="wrapper">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" placeholder="search" ng-model="query">
                </div>
            </div>
            <div class="wrapper">
                <div class="list-group">
                    <a ng-repeat="n in notes" class="list-group-item b-l-{{n.color}}" ng-class="n._id.$oid == selected._id.$oid ? 'hover': ''" ng-click="selectNote(n)">
                        <i ng-show="isDirty(n)" class="glyphicon glyphicon-save pull-right m-r-sm"></i>
                        <span class="block text-ellipsis">{{ n.content ? n.content : 'Untitled' }}</span>
                        <small class="text-muted">{{ n.date | date:'MMM-dd-yyyy H:mm'}}</small>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9" style="height:100%;">
            <div class="wrapper m-b-xl">
                <span class="text-muted">Created on:</span> <span>{{ selected.date | date:'MMM-dd-yyyy H:mm' }}</span>
                <div class="pull-right">
                    <a href class="pull-right btn btn-sm btn-danger m-l-sm" ng-click="deleteNote()">Delete</a>
                    <a href class="pull-right btn btn-sm btn-info" ng-show="isDirty(selected)" ng-click="updateNote()">Save</a>
                </div>
            </div>
            <textarea ng-disabled="selected ? false : true" class="form-control no-radius no-borders no-bg wrapper-lg text-md" style="height:100%;" ng-model="selected.content" ng-change="setDirty()">
            </textarea>
        </div>
    </div>
</div>