<div class="container m-t-lg">
    <div class="col-md-offset-1 col-md-8">
        <div class="text-center m-b-lg">
            <h1>Notes</h1>
            <p>Default user is <span style="font-style: italic">admin</span> with password <span style="font-style: italic">changeit</span></p>
        </div>

        <div class="m-b text-center text-warning" ng-if="redirectedWhy === 'expired'">
            Session expired.
        </div>
        <div class="m-b text-center text-warning" ng-if="redirectedWhy === 'notAuthenticated'">
            You need to authenticate first.
        </div>
        <form >
            <div class="m-b text-center text-warning" ng-if="authError" ng-bind="authError">
            </div>
            <input type="id" placeholder="id" class="form-control m-b-sm" ng-model="user.id" required>
            <input type="password" placeholder="Password" class="form-control m-b-sm" ng-model="user.password" required>
            <button type="submit" class="btn btn-primary pull-right" ng-click="signin()" ng-disabled='form.$invalid'>Signin</button>
        </form>
    </div>
</div>
