<div class="container w-xxl w-auto-xs">
    <div class="container w-xxl w-auto-xs">
        <div class="navbar-brand block m-t text-3x m-b-lg" ng-bind="app.name"></div>
        <div class="m-b">
            <div class="m-b text-center text-2x" ng-if="redirectedWhy === 'expired'">
                Session expired.
            </div>
            <div class="m-b text-center text-2x" ng-if="redirectedWhy === 'notAuthenticated'">
                You need to authenticate first.
            </div>
            <form name="form" class="form-validation">
                <div class="m-b text-center" ng-if="authError" ng-bind="authError">
                </div>
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="id" placeholder="id" class="form-control no-border" ng-model="user.id" required>
                    </div>
                    <div class="list-group-item">
                        <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signin()" ng-disabled='form.$invalid'>Signin</button>
            </form>
        </div>
    </div>
</div>
